* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

#hero {
  height: 300px;
  width: 100%;
  /* margin-bottom: 25px; */
  background-image: url("../images/watch.jpg");
  background-size: cover;
  background-position: center;
}

header {
  height: 100px;
  background-color: red;
}

#about-me {
  background-color: #bbb;
  height: 300px;
}

#works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  background-color: green;
  justify-content: center;
}

#work-large {
  background-color: turquoise;
  /* margin: 2em; */
  float: left;
  height: 100px;
  width: 80%;
}

.work {
  height:100px;
  background-color: blue;
  padding: 1em;
  width: 40%;
}

#work-2 {
  background-color: hotpink;
}

#work-3 {
  background-color: burlywood;
}

#work-4 {
  background-color: orangered;
}

#work-5 {
  background-color: yellowgreen;
}

footer {
  height: 100px;
  background-color: red;
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #000000;
}