@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --borders-backgrounds-green:#92cccd;
  --header-grey:#31343d;
  --body-whitesmoke:#eeeef6;
  --maintext-borders-darkslateblue: #445876;
  --work-contact-text-darkslategrey:#333540;

  --adidas-green: hsl(175, 66%, 76%);
  --adidas-purple: hsl(296, 36%, 40%);
  --adidas-dark-grey: hsl(337, 0%, 63%);
  --adidas-black: hsl(300, 0%, 15%);
  --adidas-dark-purple:hsl(276, 47%, 23%);
  --adidas-white: hsl(255, 45%, 98%);
}

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

h1 {
  font-size:2rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-bottom: 1em;
  font-weight: 600;
  text-transform: lowercase;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

header {
  height: 70px;
  background-color: var(--header-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav::before {
  position: absolute;
  left: 0px;
  top:12px;
  padding: 0px 10px 0px 40px;
  content: "Brian Palay";
  font-size: 2em;
  color: var(--header-grey);
  background-color: var(--borders-backgrounds-green);
  font-weight: 600;
  }

nav ul {
  list-style: none;
  display: flex;
  position: relative;
  right: 30px;
}

nav a {
  color: var(--borders-backgrounds-green);
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
}

nav a:hover {
  background-color: var(--adidas-purple);
  transition: all .2s ease;
  cursor:pointer;
}

#hero {
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url("../images/glitchbp.jpg");
  opacity: .75;
  background-size: cover;
  background-repeat:no-repeat;
  background-position-y:25%;
} 

.flex-container {
  display: flex;
  padding:15px;
}

.aside {
  display: flex;
  justify-content: flex-end;
  padding:5px 15px 0px 15px;
  flex:1;
  border-right: 4px solid var(--adidas-green);
}

.main-content {
  padding:0px 15px 0px 15px;
  flex:6;
}

#aboutme {
  background-color:var(--adidas-purple);
  color: var(--adidas-white);
  align-items: center;
} 

#aboutme p {
  margin: 0 20px;
}

#work {
  background-color: var(--adidas-grey);
  color: var(--adidas-black);
}

#work-grid-container-top {
display: grid;
}

#work-grid-container-bottom {
display: grid;
grid-template-columns: 1fr 1fr;
}

#work-1 {
  color: var(--work-contact-text-darkslategrey);
  position: relative;
  height: 263px;
  grid-template-columns: 1fr;
  margin:20px;
  border: 4px solid var(--borders-backgrounds-green);
}

.work-small {
  color: var(--work-contact-text-darkslategrey);
  height: 120px;
  margin:20px;
  border: 4px solid var(--borders-backgrounds-green);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}

.work-text {
  font-size: 0.75rem;
  position: absolute;
  background: var(--borders-backgrounds-green);
  padding: 9px;
  bottom: 10px;
  left: -2px;
}

#work-2 {
  background-image: url("../images/wheresthatcard.jpg");
}

#contactme {
  background-color: var(--adidas-dark-purple);
  color: var(--adidas-grey);
  color: var(--adidas-green);
  text-align: center;
  align-items: center;
}

#contactme a {
  color: var(--adidas-green);
  margin: 20px;
  transition-property: color;
}

#contactme a:hover {
  color: var(--adidas-purple);
  transition: .2s all ease;
}


/* MEDIA QUERIES */

  @media only screen and (max-width:699px) {

  #work-grid-container-bottom {
    grid-template-columns: 1fr;
    }

  .flex-container {
    flex-direction: column;
  }

  .heading {
    justify-content: flex-start;
    border-right: none;
  }

  .heading h2 {
    border-bottom: 4px solid var(--adidas-green);
  }
}

  @media only screen and (min-width:700px) {

  #work-grid-container-bottom {
    grid-template-columns: 1fr 1fr;
    }

    .flex-container {
      flex-direction: row;
    }

  .heading {
    display: flex;
    justify-content: flex-end;
    padding:5px 15px 0px 15px;
    flex:1;
    border-right: 4px solid var(--adidas-green);
  }

}

@media only screen and (min-width:1350px) {

  #work-grid-container-bottom {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}